# dependencies
node_modules

# production build
dist
build

# environment variables
.env
.env.local

# misc
.DS_Store
*.log

# editor directories and files
.vscode
.idea
*.sublime-project
*.sublime-workspace

# git
.git
.gitignore